<!-- nav/hero -->
<section class="hero is-info is-medium is-bold" style="background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                  <a class="" href="/">
                    <figure class="image is-128x128">
                      <img src="/images/socialRentLogo.png" alt="">
                    </figure>
                  </a>
                    <span class="navbar-burger burger" data-target="navbarMenu" style="background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li><a href="/">Market</a></li>
                                <li><a href="/users">All Users</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-item logButtons">
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-outlined is-white" href="/signup">
                    <span class="icon">
                      <i class="fa fa-user-plus"></i>
                    </span>
                    <span>
                      Sign Up
                    </span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-white is-outlined" href="/login">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Login</span>
                  </a>
                </p>
              </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
            Registered Businesses Currently Advertising
            </h1>
        </div>
    </div>
</section>

<br>
<!-- table -->
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <div class="card events-card">
        <div class="card-table" id="allUsers">
          <div class="content">
            <table class="table is-bordered is-narrow is-striped is-hoverable">
              <thead>
                <tr>
                  <th><strong>Company Name</strong></th>
                  <th><strong>About</strong></th>
                  <th><strong>Joined On</strong></th>
                  <th><strong>Message</strong></th>
                </tr>
              </thead>
              <tbody>
                {{#each Advertisers}}
                  <tr>
                    <td><a href="/api/advertisers/{{this.id}}">{{this.company_name}}</a></td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a class="button is-small is-primary" href="#"><i data-vi="message" data-vi-size="18"></i>Message</a></td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a href="/" class="card-footer-item">Marketplace</a>
        </footer>
      </div>
    </div>
  </div>
</div>

<br>
