<section class="hero is-info is-medium is-bold" style="background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
                        Social Rent
                    </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
          <span></span>
          <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
                <li><a href="">Market</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">All Advertisers</a></li>
                <li><a href="">All Users</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-item logButtons">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-outlined is-white" href="/signup">
                    <span class="icon">
                      <i class="fa fa-user-plus"></i>
                    </span>
                    <span>
                      Sign Up
                    </span>
                  </a>
          </p>
          <p class="control">
            <a class="button is-white is-outlined" href="/login">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Login</span>
                  </a>
          </p>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
            Social Rent
            </h1>
      <h2 class="subtitle">
            Businesses: Hire social media users to share your ads <br>
            Users: Get paid to share ads from the companies you support
            </h2>
    </div>
  </div>
</section>
<br>
<section class="container">
  <div class="columns">
    <div class="column is-12">
      <h1>Current Available Ads</h1>
      <div class="box content">
        {{#each Ads}}
          <article class="post">
            <h4>{{this.title}}</h4>
            <div class="media">
              <!-- <div class="media-left">
                <p class="image is-64x64">
                  <img src="http://bulma.io/images/placeholders/128x128.png">
                </p>
              </div> -->
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#">{{this.category}}</a> posted on {{this.createdAt}} &nbsp;
                  </p>
                  <p>
                    {{this.body}}
                  </p>
                </div>
              </div>
              <div class="media-right">
                <a href="/posts/postid" class="has-text-grey-light"><i data-vi="star" data-vi-size="28"></i></a>
              </div>
            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<br>
