<head>
  <link rel="stylesheet" href="./css/login.css">
</head>

<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <p class="subtitle has-text-grey">Please login to proceed</p>
                <div class="box">
                    <figure class="avatar">
                        <img src="./images/login-icon.png">
                    </figure>
                    <form>
                        <div class="field">
                            <div class="control">
                                <i data-vi="envelope"></i>
                                <input class="input is-large" type="email" placeholder="Your Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                              <i data-vi="lock"></i>
                                <input class="input is-large" type="password" placeholder="Your Password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
              <input type="checkbox">
              Remember me
            </label>
                        </div>
                        <button style="background-color:rgb(48,169,152);"class="button is-block is-info is-large is-fullwidth">Login</button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="/signup">Sign Up</a> &nbsp;·&nbsp;
                    <a href="./">Forgot Password</a> &nbsp;·&nbsp;
                    <a href="./">Need Help?</a>
                </p>
            </div>
        </div>
    </div>
</section>
