<head>
  <link rel="stylesheet" href="./css/login.css">
  <script type="text/javascript" src="./js/user.js"></script>
  <script type="text/javascript" src="./js/signup.js"></script>
</head>

<!-- nav for signup page -->
<nav class="navbar userNav signupNav is-white" id="top">
    <div class="container">
        <div class="navbar-brand">
          <a class="" href="/">
            <figure class="image is-128x128">
              <img src="/images/socialRentLogo.png" alt="">
            </figure>
          </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <p class="control">
                  <a href="/">Marketplace</a>
                </p>
              </div>
              <div class="navbar-item">
                <p class="control">
                  <a href="/users">All Users</a>
                </p>
              </div>
              <div class="navbar-item">
                <p class="control">
                  <a href="/advertisers">All Advertisers</a>
                </p>
              </div>
              <div class="navbar-item">
                <p class="control">
                  <a class="button is-dark is-outlined" href="/login">
                    <span class="icon">
                      <i class="fa fa-user"></i>
                    </span>
                    <span>Login</span>
                  </a>
                </p>
              </div>
            </div>
        </div>
    </div>
</nav>

<!-- signup section -->
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Signup</h3>
        <p class="subtitle has-text-grey">Fill out all required fields to continue</p>
        <div class="box">
          <figure class="avatar">
            <img src="./images/signup-icon.png">
          </figure>
          <form>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input name= "Email" class="input is-large required" type="email" id="email_input" placeholder="123@gmail.com" autofocus="">
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input name= "Password"  class="input is-large required" id="password" type="password" placeholder="··········">
              </div>
            </div>
            <div class="field">
              <label class="label">Repeat Password</label>
              <div class="control">
                <input name="Repeat Password" class="input is-large required" id="repeat_password" type="password" placeholder="··········">
              </div>
            </div>
            <div class="field">
              <label class="label">Select Role</label>
              <div class="control">
                <div class="select is-large is-link">
                  <select id=roleSelect onchange="showFields()">
                    <option diabled>Select Role</option>
                    <option name="user" id="user">User</option>
                    <option name="advertiser" id="advertiser">Advertiser</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- company/advertiser options -->
            <div class="is-invisible" id="advertiserFields">
            <div class="field">
              <label class="label">Company Name</label>
              <div class="control">
                <input name="Company Name" class="input is-large " id="company_name" type="text" placeholder="Company Name">
              </div>
            </div>
            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea name="Description" class="textarea is-large " id="description" type="text" placeholder="Tell everyone a little about your company..."></textarea>
              </div>
            </div>
            </div>
            <!-- user options -->
            <div class="is-invisible" id="userFields">
              <div class="field">
                <label class="label">Username</label>
                <div class="control">
                  <input name="Username" class="input is-large" id="Username" type="text" placeholder="Social Rent">
                </div>
              </div>
              <div class="field">
                <label class="label">Twitter Handle</label>
                <div class="control">
                  <input name="twitter_handle" class="input is-large" id="twitter_handle" type="text" placeholder="@Social_Rent">
                </div>
              </div>
              <div class="field">
                <label class="label">Instagram Handle</label>
                <div class="control">
                  <input name="insta_handle" class="input is-large" id="insta_handle" type="text" placeholder="@SocialRent">
                </div>
              </div>
            </div>
            <br>
            <div class="field">
                <label class="checkbox">
                  <input type="checkbox" id="terms">
                  I agree to the <a href="#" class="has-text-link">terms and conditions</a>
                </label>
            </div>

            <div class="field">
              <label class="checkbox">
                <input type="checkbox" id="remember">Remember me
              </label>
            </div>
            <button id="signup-btn" style="background-color:rgb(80,207,127);" class="button is-block is-info is-large is-fullwidth">Signup</button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/login">Login</a> &nbsp;·&nbsp; <a href="./index">Market</a>
        </p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
//toggle available fields
function showFields() {
  const userFields = document.getElementById('userFields');
  const advertiserFields = document.getElementById('advertiserFields');
  const roleSelect = document.querySelector('#roleSelect');
  const selected = roleSelect.options[roleSelect.selectedIndex].value;
  console.log(selected);
  if(selected === 'User') {
    userFields.classList.remove('is-invisible');
    advertiserFields.classList.add('is-invisible')
  }
  if(selected === 'Advertiser') {
    advertiserFields.classList.remove('is-invisible')
    userFields.classList.add('is-invisible')
  }
  if(selected === 'Select Role') {
    userFields.classList.add('is-invisible');
    advertiserFields.classList.add('is-invisible')
  }
}
</script>
