/*
FONTS
font-family: 'Concert One', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Rubik', sans-serif;
*/

html,body {
  font-family: 'Open Sans', serif;
  background: #F2F6FA;
}
.container .columns {
  margin: 3rem 0;
}
.navbar-menu .navbar-item {
  padding: 0 2rem;
}
.media-left img {
  border-radius: 50%;
}
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-list li{
  padding: 5px;
}
#copy{
  color:white;
}
